*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}

body{
  background-color:  #ddd;
  font-size:  18px;
  font-family: 'Oswald',Arial, Helvetica, sans-serif;
  margin: 50px;
}

/* container */
.container{

  display: grid;
gap: 10px;
}
/* header */
.header {
display: grid;
grid-template-areas: 
'hero hero feature-1'
'hero hero feature-2';
}

.hero{
grid-area:  hero;
min-height: 300px;
background-image: url(img/myfoto.jpg);
background-size: cover;
background-position: center;
padding: 50px;
}

.hero > *{
display: none;
}
.features{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: grid;
    /* justify-content: center;
    align-content:center;  */
place-content: center;
text-align: center;
}  

.feature-1{
    grid-area: feature-1 ;
    background-image: url(img/cod.jpg);
    background-size: cover;
}

.feature-2{
    grid-area: feature-2 ;
    background-image: url(img/cod1.jpg);
    background-size: cover;
}

.features .price{
    font-size: 3em;
    font-weight: 200;
}


.contenta{
  background-image: url(img/pi.jpg);
}





.introgallery h2{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(img/pi.jpg);
  color: #000000;
z-index: 1;
padding: 20px 25px;
border:3px solid #000000;
  text-align: center;
}
.introgalleryd {
  padding: 15px;
  border: 1px solid #aaa ;
  border-radius:  3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  text-align: center;
}

.services{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
  gap:20px;
}

.service{
 background-image: url(img/ac.png);
  padding: 15px;
  border: 1px solid #9e9e9e ;
  border-radius:  3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.service .icon{
  color: white;
  font-size: 3em;
}

.service p{
  color: white;
font-weight: 200;
letter-spacing: 1px;
font-size: 0.8em;
}

.service h3{
  color: white;
  font-size: 1.5em;
}

.batas{
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
  padding: 15px;
  border: 1px solid #aaa ;
  border-radius:  3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  text-align: center;
}

.tk{
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
  padding: 15px;
  border: 1px solid #ffffffb9 ;
  border-radius:  3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  text-align: center;
}

.med{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
  align-items: center;
  text-align: center;
}  

.medi{
  padding: 15px;
  border-radius:  3px;
}

.icn {
width:70px;
height:70px;
border:1px solid;
border-radius: 50%;
text-align: center;
line-height: 70px;
font-size: 20px;
margin:0 auto;
}

.footerao{
  background-image: url(img/gn.png);
}

.introao{
  background-image: url(img/or.png);
}

.ctao {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

 .titleao{
  font-size: 1.5em;
  letter-spacing: 20px;
  text-align: center;
  justify-content: center;
  font-family: fantasy;
  color: white;
}
.parallaxo{
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}



.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}

.loader {
  display: flex;
  margin: 0.25em 0;
}

.w-2 {
  width: 0.5em;
}

.dash {
  animation: dashArray 2s ease-in-out infinite,
    dashOffset 2s linear infinite;
}

.spin {
  animation: spinDashArray 2s ease-in-out infinite,
    spin 8s ease-in-out infinite,
    dashOffset 2s linear infinite;
  transform-origin: center;
}

@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }

  50% {
    stroke-dasharray: 0 359 1 0;
  }

  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

@keyframes spinDashArray {
  0% {
    stroke-dasharray: 270 90;
  }

  50% {
    stroke-dasharray: 0 360;
  }

  100% {
    stroke-dasharray: 270 90;
  }
}

@keyframes dashOffset {
  0% {
    stroke-dashoffset: 365;
  }

  100% {
    stroke-dashoffset: 5;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  12.5%,
  25% {
    rotate: 270deg;
  }

  37.5%,
  50% {
    rotate: 540deg;
  }

  62.5%,
  75% {
    rotate: 810deg;
  }

  87.5%,
  100% {
    rotate: 1080deg;
  }
}



.menu{
    order: -1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.menu .brand{
    font-size:  1.3em;
    color: 333;
}
.menu ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
}

.menu a{
    display: block;
    background-color: black;
    color:  white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    font-size: 0,9em;
}

.menu-toggle{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    position: relative;
    z-index: 999;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}

.menu-toggle input{
    display: block;
    position: absolute;
    background-color: black;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;

}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);

}

.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);

}

.menu-toggle input:checked ~ span:nth-child(3){
   opacity: 0;
   transform: scale(0);

}
  
.radio-wrapper {
  position: relative;
  height: 38px;
  width: 150px;
  margin: 3px;
}

.radio-wrapper .input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
}

.btn {
  --primary: #ff184c;
  --shadow-primary: #fded00;
  --color: white;
  --font-size: 9px;
  --shadow-primary-hue: 180;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(11% 0, 95% 0, 100% 25%, 90% 90%, 95% 90%, 85% 90%, 85% 100%, 7% 100%, 0 80%);
  --border: 5px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  color: var(--color);
  text-transform: uppercase;
  font-size: var(--font-size);
  letter-spacing: 3px;
  position: relative;
  font-weight: 900;
  width: 100%;
  height: 100%;
  line-height: 38px;
  text-align: center;
  transition: background 0.2s, 0.3s;
}

 .btna {
  --primary: #8B00FF;
  --shadow-primary: #00e572;
}

.btn:after, .btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.btn:after {
  background: var(--primary);
}

.btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
  font-size: var(--label-size);
}

.btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.btn .btn__glitch {
  display: block;
  animation: glitch 5s infinite;
}

.btn__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }

  2%, 8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }

  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }

  14%, 21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }

  35%, 45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }

  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }

  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }

  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }

  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }

  31%, 61%, 100% {
    clip-path: var(--clip-four);
  }
}

.number {
  background: var(--shadow-primary);
  color: #323232;
  font-size: 5.5px;
  font-weight: 700;
  letter-spacing: 1px;
  position: absolute;
  width: 15px;
  height: 6px;
  top: 0;
  left: 81%;
  line-height: 6.2px;
}

  

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}


.card{
  display: none;
}

.parallax .introa{
  display: none;
}

.parallax .footera {
  display: none;
}

.cta {
  display: none;
}

  @media  (max-width: 1024px){
    .footera{
      background-image: url(img/as.jpg);
    }
  
    .introa{
      background-image: url(img/gm.jpg);
    }

    .cta {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .int{
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-image: url(img/in.jpg);
      color: white;
      z-index: 1;
      padding: 20px 25px;
      border:3px solid #ffffff;
      text-align: center;
      }
     
    
     .titlea{
      font-size: 1.5em;
      letter-spacing: 20px;
      text-align: center;
      justify-content: center;
      font-family: fantasy;
      color: white;
    }
    .parallax{
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
      
    }

    .menu{
        order: inherit; 
        grid-template-columns: 1fr;
    }

    .menu .brand{
display: none;
    }

    .hero > *{
        display: block;
        background-color: rgba(0, 0, 0, 0.534);
        color: rgba(255, 255, 255, 0.623);
        padding: 10px;
        margin-bottom: 5px;
    }
    .hero{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .card{
      display: none;
    }

}

@media  (max-width:768px){

 

    .menu{
        order: -1;
        justify-items: end;
    }
    .menu-toggle{
        display: flex;
    }
   .menu ul {
        display: flex;
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: rgba(0, 0, 0, 0.548);
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
        transform: translateY(-100%);
        opacity: 0;
        transition:  all 1s;
    }
    .menu ul.slide{
        opacity: 1;
        transform: translateY(0);
    }
    .med.medi {
		width:100%;
		float: none;
		margin-bottom: 20px;
	}

  .card{
    display: none;
  }
}

@media  (max-width:600px){
    body{
        margin: 15px;
    }
    .tk {
      display: none;
    }
    .header{
        grid-template-areas: 
        'hero'
        'feature-1'
        'feature-2';

    }
    .card svg {
      height: 25px;
    }
    
    .card {
      display: grid;
      grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
      gap:20px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #e7e7e7;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      overflow: hidden;
      height: 50px;
     
    }
    
    .card::before, .card::after {
      position: absolute;
      display: flex;
      align-items: center;
      width: 50%;
      height: 100%;
      transition: 0.25s linear;
      z-index: 1;
    }
    
    .card::before {
      content: "";
      left: 0;
      justify-content: flex-end;
      background-color: #4d60b6;
    }
    
    .card::after {
      content: "";
      right: 0;
      justify-content: flex-start;
      background-color: #4453a6;
    }
    
    .card:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    
    .card:hover span {
      opacity: 0;
      z-index: -3;
    }
    
    .card:hover::before {
      opacity: 0.5;
      transform: translateY(-100%);
    }
    
    .card:hover::after {
      opacity: 0.5;
      transform: translateY(100%);
    }
    
    .card span {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: whitesmoke;
      font-family: 'Fira Mono', monospace;
      font-size: 24px;
      font-weight: 700;
      opacity: 1;
      transition: opacity 0.25s;
      z-index: 2;
    }
    
    .card .social-link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25%;
      height: 100%;
      color: whitesmoke;
      font-size: 24px;
      text-decoration: none;
      transition: 0.25s;
    }
    
    .card .social-link svg {
      text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
      transform: scale(1);
    }
    
    .card .social-link:hover {
      background-color: rgba(249, 244, 255, 0.774);
      animation: bounce_613 0.4s linear;
    }
}


